/*-- scss:defaults --*/

/*-- scss:rules --*/

.reveal .slide h2 {
    margin-bottom: 1.5cm;
}

.reveal .slide p {
    margin-top: 1em;
}

.reveal .slide dl {
    margin-top: 1em;
}

/* .reveal .slide .column {
    padding-right: .5em;
} */

.reveal .backgrounds {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

div.code-copy-outer-scaffold {
    max-height: 100%;
}

.reveal .sourceCode {
    background-color: #001132;
    font-size: 32pt;
    width: fit-content;
    max-width: 100%;
    padding-right: 1em;
    height: fit-content;
    max-height: 100%;
}

.reveal pre.sourceCode code {
    max-height: inherit;
}

.reveal pre.sourceCode {
    outline: 5px white;
}

.cell-output pre,
.cell-output pre code {
    background-color: #001b52;
    font-size: 32pt;
    width: fit-content;
    padding-right: 1em;
}
